
	@font-face {
		font-family: 'Galano Grotesque';
		src: url('./assets/galano-medium.otf')  format('opentype');
		font-weight: normal;
	}

	@font-face {
		font-family: 'Galano Grotesque';
		src: url('./assets/galano-bold.otf')  format('opentype');
		font-weight: bold;
	}

	@font-face {
		font-family: 'Galano Grotesque';
		src: url('./assets/galano-light.otf')  format('opentype');
		font-weight: light;
	}

	a{
		color: #7961af;
		transition: 0.15s ease-in-out;
	}

	a:hover{
		color: #e29e71;
		text-decoration: none;
	}

	body{
		font-family: 'Galano Grotesque';
	}

	button{
		border-radius: 30px	!important;
	}

	.site-container{
		height:100vh;
	}

	.above{
		z-index: 5;
	}

	.btn-primary{
		background-image: linear-gradient(to right, #7961af , #e29e71);
		border-color: transparent;
		padding: 0.5em 2em; 
		background-color: transparent;	
		outline: none !important;
		box-shadow: none !important;	 
	}

	.btn-primary:hover{
		background-image: none;
		background-color: transparent;
		border-color: #e29e71; 		
		color: #e29e71; 
	}

	.btn-primary:active{
		background-color: #7961af !important; 
	}

	.btn-primary:focus{
		outline: none !important;
		box-shadow: none !important;
	}

	.grad-dinner-bg-desktop{
		background-image: url('./assets/gdinner-bg.jpg');
		background-size: cover;
		background-attachment: fixed;
		background-position: center;
	}

	/*
	.grad-dinner-bg-mobile{
		background-image: url('./assets/gdinner-bg-mobile.jpg');
		background-size: contain;
		background-attachment: fixed;
		background-position: top;
		height: 250px; 
		background-repeat: no-repeat; 
	}*/

	.grad-dinner-header{
		z-index: 100;
	}

	.grad-dinner-header a{
		padding: 1em;  	 
	}
